<p id="user_account_type_box">
  <%= radio_button "user", "account_type", "personal", {:checked => true } %> <%= t(:personal_account) %>
  <%= radio_button "user", "account_type", "business" %> <%= t(:business_account) %>
</p>

<div id="personal_box">
  <%= f.field_container :cpf do %>
    <%= f.label :cpf, t(:cpf) %><br />
    <%= f.text_field :cpf %>
    <%= error_message_on :user, :cpf %>
  <% end %>
</div>

<div id="business_box">
  <%= f.field_container :cnpj do %>
    <%= f.label :cnpj, t(:cnpj) %><br />
    <%= f.text_field :cnpj %>
    <%= error_message_on :user, :cnpj %>
  <% end %>

  <%= f.field_container :state_registry do %>
    <%= f.label :state_registry, t(:state_registry) %><br />
    <%= f.text_field :state_registry %>
    <%= error_message_on :user, :state_registry %>
  <% end %>

  <%= f.field_container :company_name do %>
    <%= f.label :company_name, t(:company_name) %><br />
    <%= f.text_field :company_name %>
    <%= error_message_on :user, :company_name %>
  <% end %>
</div>

<%= f.field_container :email do %>
  <%= f.label :email, t(:email) %><br />
  <%= f.email_field :email %>
  <%= error_message_on :user, :email %>
<% end %>

<div id="password-credentials">
  <%= f.field_container :password do %>
    <%= f.label :password, t(:password) %><br />
    <%= f.password_field :password %>
    <%= f.error_message_on :password %>
  <% end %>

  <%= f.field_container :password do %>
    <%= f.label :password_confirmation, t(:confirm_password) %><br />
    <%= f.password_field :password_confirmation %>
    <%= f.error_message_on :password_confirmation %>
  <% end %>
</div>

<div data-hook="signup_below_password_fields"></div>


<%= content_for :head do %>
  <%= javascript_include_tag 'store/spree_brazilian_fields' %>
<% end %>
